div{
    background-color: chocolate;
    color: black;
    height: 3rem;
    width: 10rem;
    vertical-align:middle;
    display: table-cell;
}

sfs-image {
    vertical-align:  center;
    position: middle;
}