<h1>My First Angular 2 App</h1>
  <div>
    <div class='wrapper'>
      <div class='container'>
        <div class='deniable' [dragula]='"one-bag"'></div>
        <div class='deniable' [dragula]='"one-bag"'></div>
      </div>
      <div class='container' [dragula]='"one-bag"' [dragulaModel]='images'>
        <div *ngFor="let image of images">
          <img [src]="image.base64" />
        </div>
      </div>
      <div class='container'>
        <div class='deniable' [dragula]='"one-bag"'></div>
        <div class='deniable' [dragula]='"one-bag"'></div>
      </div>
    </div>
  </div>