<div>
    <ul *ngIf="matches">
        <li *ngFor="let match of matches; let i=index" class="nostyle">
            <div *ngIf="i<5">
                <sfs-match [match]="match"></sfs-match> 
            </div>     
        </li> 
    </ul>
    
</div>