<div>
    <ul *ngIf="stats" class="statList noindent">        
        <li *ngFor="let stat of stats" class="stat at_stat">
            <sfs-stat [stat]="stat"></sfs-stat>                  
        </li>    
    </ul>
</div>