<div class='wrapper'>
  <div class='container'>
    <div class='deniable' [dragula]='"one-bag"' name='leftOffense'></div>
    <div class='deniable' [dragula]='"one-bag"' name='leftDefense'></div>
  </div>
  <div [hidden]="isGameNotReady()" class='container' [dragula]='"one-bag"' [dragulaModel]='players' name='list'>
    <div *ngFor="let player of players">
      <sfs-player-list-item [player]="player"></sfs-player-list-item>
    </div>
  </div>
  <div class='container'>
    <div class='deniable' [dragula]='"one-bag"' name='rightOffense'></div>
    <div class='deniable' [dragula]='"one-bag"' name='rightDefense'></div>
  </div>
</div>
<button (click)="onBackClick()">Go Back</button>