.wrapper {
    display: table;
}
.container {
    display: table-cell;
    background-color: rgba(255, 255, 255, 0.2);
    width: 32%;
}
.container:nth-child(odd) {
    /* background-color: rgba(0, 0, 0, 0.2); */
}
.container div,
.gu-mirror {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s ease-in-out;
}
.container div {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.gu-mirror {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.gu-mirror img {
    width: 256px;
}

.container .drag-me {
}

.container .ex-over {
}

.container .ex-moved {
}

.container div img {
    width: 256px;
}

.container.deny {
    
}

.container.deniable {
    
}